body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    border: 2px solid coral;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 78px;
    height: 78px;
    border: 0.5px solid pink;
}

#fish {
    width: 1040px;
    height: 160px;

    border: 2px solid coral;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#fish img {
    width: 78px;
    height: 78px;
    border: 0.5px solid pink;
}

