body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

#cont {
    position: relative;
    width: 400px;
    height: 600px;
    border: 2px solid #fff;
    overflow: hidden;
    background: linear-gradient(to bottom, #87ceeb, #fff);
}

#player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 60px;
    height: 40px;
    background: coral;
    border: 3px solid pink;
    border-radius: 0 0 20px 20px;
    transform: translateX(-50%);
}

.drops {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.spins {
    animation: spin 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}