body {
    padding: 0;
    margin: 0;
}

#cont {
    background-color: bisque;
    background-image: linear-gradient(#292a30, .1em, transparent .1em), linear-gradient(90deg, #292a30 .1em, transparent .1em);
    background-size: 4em 4em;
    height: 100vh;
}

#card {
    width: 400px;
    height: 400px;
    background-color: #AFda9f;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}